body {
  background-color: black;
  }
  
#heading {
	color: yellow;
	text-align: center;
	border-bottom: 1px solid white; 
	margin: 15px;
	font-size: 50px;
	font-weight: bold;
}

#time {
	width: 100%;
	font-size: 200px;
	margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttons {
	display: block;
	width: 100%;
	text-align: center;
}

.white-text {
    color: white;
  }

#container span, div{
	margin-bottom: 10px;
	padding: 10px;
}

#start{
	 margin-right: 20px; 
	 padding: 30px 64px;
	 font-size: 30px;
}

#reset {
	 margin-left: 20px; 
	 padding: 30px 64px;
	 font-size: 30px;
}